<div id="header">
    <header>
        <div class="logo">
            <img src="assets/stp-logo.png" style="width: 60%">
        </div>
        <nav>
            <a class="item-menu" href="pacientes.html">
                <img src="assets/paciente.svg" alt="Pacientes">
                <span>Pacientes</span>
            </a>
            <a class="item-menu" href="transferencias.html"><img src="assets/ambulancia.svg" alt="Transferências">Transferências</a>
            <a class="item-menu" href="hospitais.html"><img src="assets/hospital.svg" alt="Hospitais">Hospitais</a>
            <a class="item-menu" href="usuarios.html"><img src="assets/usuarios.svg" alt="Usuários">Usuários</a>
        </nav>
        <div class="user-options">
            <img src="assets/sino.svg" alt="Notificações">
            <img src="assets/usuario.svg" alt="Usuário">
            <button onclick="logout()">Deslogar</button>
        </div>
    </header>
</div>
